#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.letter-div-body {
  text-align: left;

  transition: all 0.3s ease;

  flex-wrap: wrap;

  backdrop-filter: blur(100px);
  -webkit-backdrop-filter: blur(100px);
  background-color: rgba(255, 255, 255, 0.5);

  color: #000;

  border-radius: 10px;
  border: 5px solid rgba(255, 255, 255, 0.8);

  padding: 2rem;
  max-width: 800px;
}
